body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: rgb(32, 32, 32);
}

.pflicht::after {
    font-size: 10pt;
    position: absolute;
    font-weight: bold;
    color: rgb(199,17,17);
    content: "Pflichtfeld";
    margin-left: 10px;
}

#formular {
    padding: 20px;
    width: 444px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}


input, select {
    transition-duration: 0.3s;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
}

input:focus, select:focus {
    transition-duration: 0.3s;
    outline: none !important;
    border-width: 3px;
    border-color: rgb(117,172,225);
    background-color: rgb(235, 246, 255);
    padding-left: 8px;
}


#adressfeld {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}

p {
    font-weight: bold;
    margin-top: 0;
}



br {
    content: " ";
    display: block;
    margin: 20px;
}

#submit {
    transition-duration: 0.1;
    border: 0px solid transparent;
    color: white;
    background-color: rgb(117,172,225);
    padding: 0;
    /* margin-top: 15px; */
}

#submit:focus {
    transition-duration: 0.1;
    padding: 0;
    background-color: rgb(57, 148, 233);
}